# Node modules
node_modules/

# Expo related files
.expo/
web-build/

# Android specific files
android/build/
android/.gradle/
android/app/build/
android/app/.idea/
android/app/src/debug/
android/app/src/release/
android/app/src/androidTest/
android/app/src/main/assets/
android/app/src/main/res/
android/app/src/main/AndroidManifest.xml.bak
android/app/google-services.json

# iOS specific files
ios/build/
ios/Pods/
ios/.symlinks/
ios/.idea/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcshareddata/
ios/*.xcodeproj/project.pbxproj.orig
ios/*.xcodeproj/project.pbxproj.backup
ios/*.xcodeproj/xcuserdata/
ios/Podfile.lock
ios/GoogleService-Info.plist

# Environment variables
.env
.env.local
.env.*.local

# Logs and temporary files
*.log
*.jks
*.p8
*.keystore
*.tgz
*.zip
*.rar
*.7z
*.apk
*.ipa

# macOS specific files
.DS_Store

# VS Code specific files
.vscode/

# Jest cache
/coverage/
.jest/cache/

# Yarn files
.yarn/cache/
.yarn/unplugged/
.yarn/install-state.gz
.pnp.*

# Other
temp/
tmp/
